<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-card">
  <template>
    <style>
      :host {
        display: block;
      }
     
      p{
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .boton{
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 50px;
        background: gray;
        color: white;
        border-radius: 10px;
      }


    </style>
   
   
   <section class="section">
      <h1>Confirmation</h1>
      <h2>Label</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <h2>Label</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <h2>Label</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum culpa voluptatibus ad dolorem! Voluptates, dolore libero? Iusto culpa itaque sapiente corrupti officia consequatur esse quibusdam, temporibus maiores quasi quod sint?
      </p>
      <button class="boton">Enviar</button>
    </section>
    
    



  </template>

  <script>
    /**
     * `information-card`
     * informacion
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationCard extends Polymer.Element {
      static get is() { return 'information-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'information-card'
          }
        };
      }
    }

    window.customElements.define(InformationCard.is, InformationCard);
  </script>
</dom-module>
